.mb-3 {
    margin-bottom: 3px;
}

.text-purple {
    color: purple;
}
.text-dark-purple {
    color: #6C3483;
}
.text-light-purple {
    color: #D478FF;
}

.bg {
    background-color: #dfdaf8;
}

.head {
    background-color: #351c75;
}

.body {
    background-color: #72c9f4;
}

.default {
    background-color: #c651e6;
}